div {
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sidebar {
  background-color: #9e9e9e3b;
  border-radius: 1px solid black;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2em;
  z-index: 2;
}

.placeholder {
  height: 3em;
}

.menu {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 30px;
  height: 30px;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
  z-index: 3;
}


.menu div{
  height: 0px;
  border: 1.5px solid black;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  background:#fff;
  transition: 400ms;
}

.menu div:nth-child(1) {
  top: 0px;
}

.menu div:nth-child(2) {
  top: 8px;
}
.menu div:nth-child(3) {
  top: 16px;
}

.sidebar:hover {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
